body {
  margin: 8px;
}
.book-title {
  color: brown;
  font-weight: bold;
}
.book-list {
  list-style: none;
}
.registration-form {
  display: flex;
  flex-direction: column;
  width: 300px; /* Ширина форми */
  margin: auto;
}
